<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Paper</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Question Paper</h1>
        <form method="POST">
            {% for question in questions.itertuples() %}
            <div class="form-group">
                <label>{{ question.question_text }}</label><br>
                <input type="radio" name="q{{ loop.index0 }}" value="A"> {{ question.option_a }}<br>
                <input type="radio" name="q{{ loop.index0 }}" value="B"> {{ question.option_b }}<br>
                <input type="radio" name="q{{ loop.index0 }}" value="C"> {{ question.option_c }}<br>
                <input type="radio" name="q{{ loop.index0 }}" value="D"> {{ question.option_d }}<br>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</body>
</html>
